
    <div id='wrapper' class='container-fluid'>
      <div class='row'>
        <div id='sidebar-wrapper' class='col-sm-3'>
        <ul class='sidebar-nav'>
          <li class='sidebar-brand'>
            <a class='a-brand' href='/'><h1>Storm Coder</h1></a>
            </li>
            <hr class= 'hr-brand'>
          <li class='subtitle'>  
            <h3>Jack's blog</h3>
          </li>
          <li>
            <a href='/about'>about</a>
          </li>
        </ul>
       </div>
    <div class='col-sm-9 content'>
      {{content}}
    </div>
    </div>
  </div>